[Desktop Entry]
Name=Demo App
Comment=Simple Flatpak Demo Application
Exec=hello-world.py
Icon=com.rhtraining.demoapp
Type=Application
Categories=GTK;Utility;
StartupNotify=true
